</main>   

<footer>
    <p>Made By @Sadaf Mohammad</p>
    <div class="icons">
    <a href="https://github.com/mohammadsadaf" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/sadaf-mohammad-727925271/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</footer>

</body>
</html>