<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lazy Bird Blog</title>
</head>

<body>
<!-- Navbar -->
<nav>
    <div class="nav-bar">
        <ul>
            <li class="list-item" id="logo"><a href="/">Lazy Bird Blog</a></li>
        </ul>
        <ul>
            <li class="list-item"><a href="/posts">Posts</a></li>
            <li class="list-item"><a href="/contact">Contact</a></li>
            <li class="list-item"><a href="/about">About</a></li>
            <li class="list-item"><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

    
