<!-- Include header -->
<%- include('../partials/header.ejs') %>

<div class="about-page">
<h1>About Me</h1>

<p>
    In my project focused on developing a blog website, I utilized CRUD (Create, Read, Update, Delete) operations to manage content effectively. Implementing these operations allowed me to empower users with seamless interactions on the platform. Through 'Create,' users could generate new blog posts, fostering a dynamic flow of content. 'Read' enabled effortless access to published posts, ensuring a smooth browsing experience. With 'Update,' users could modify existing posts, promoting ongoing relevance and accuracy. Lastly, 'Delete' offered the flexibility to remove outdated or irrelevant conent, maintaining the site's quality and coherence. By integrating CRUD operations into my project, I facilitated a user-friendly interface that prioritizes efficiency and user control, thereby enhancing the overall functionality of the blog website.
   </p>
</div>

<!-- include footer -->
<%- include('../partials/footer.ejs') %>